.header-top {
    background: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX34301502.jpg");
    height: 127px;
    box-shadow: 0px 1px 3px gray;
}
.header-bottom {
    background: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX34301502.jpg");
    height: 127px;
    /* box-shadow: 0px -3px 5px black; */
}

h1 {
    text-shadow: 1px 1px 3px black;
}